<mat-card>
	<mat-card-header>
		<mat-card-title>Editar Produto</mat-card-title>
	</mat-card-header>
	<mat-card-content>

		<form action="">
			<mat-form-field>
				<input matInput placeholder="Nome" type="text" [(ngModel)]="product.name" name="name">
			</mat-form-field>
			<mat-form-field>
				<input matInput placeholder="Preço (R$)" type="number" [(ngModel)]="product.price" name="price">
			</mat-form-field>
		</form>

		<button mat-raised-button (click)="updateProduct()" color="primary">
			Atualizar
		</button>

		<button mat-raised-button (click)="cancel()">
			Cancelar
		</button>

	</mat-card-content>
</mat-card>